blinker==1.9.0
blosc2==4.1.2
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
contourpy==1.3.3
coverage==7.13.5
cycler==0.12.1
decorator==5.2.1
Flask==3.1.3
fonttools==4.62.1
greenlet==3.3.2
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
msgpack==1.1.2
ndindex==1.10.1
numexpr==2.14.1
numpy==2.4.3
obspy==1.5.0
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pluggy==1.6.0
psutil==7.2.2
psycopg2==2.9.11
py-cpuinfo==9.0.0
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.48
# -e git+https://github.com/rizac/stream2segment.git@b182c11a0a1545bc7a0d8177d21e733f89b5632b#egg=stream2segment
tables==3.11.1
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6
