blinker==1.6.2
blosc2==2.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
decorator==5.1.1
Flask==2.3.2
fonttools==4.39.4
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
msgpack==1.0.5
numexpr==2.8.4
numpy==1.24.3
obspy==1.4.0
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
psutil==5.9.5
psycopg2==2.9.6
py-cpuinfo==9.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.30.0
scipy==1.10.1
six==1.16.0
SQLAlchemy==2.0.13
-e git+https://github.com/rizac/stream2segment.git@ea3d7f4b7e4b89f9f58e93f375569272f50e8af2#egg=stream2segment
tables==3.8.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
Werkzeug==2.3.4
