astroid==1.4.4
colorama==0.3.6
coverage==4.0.3
cycler==0.9.0
decorator==4.0.6
funcsigs==0.4
future==0.15.2
lazy-object-proxy==1.2.1
lxml==3.5.0
matplotlib==1.5.1
mock==1.3.0
nose==1.3.7
numpy==1.10.4
-e git+https://github.com/obspy/obspy.git@61e297ef1dc6246322c3dc5bc36a9e270ebcd9c0#egg=obspy
-e git+https://github.com/gem/oq-hazardlib.git@a74d152d818ea1ca578b26c5276d1dfa5892988a#egg=openquake.hazardlib
pbr==1.8.1
pep8==1.7.0
psutil==2.2.1
py==1.4.31
pylint==1.5.4
pyparsing==2.0.7
pytest==2.8.7
pytest-cov==2.2.1
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
scipy==0.17.0
Shapely==1.5.13
six==1.10.0
SQLAlchemy==1.0.11
wheel==0.26.0
wrapt==1.10.6
