html, body, div.main{
	height:100%;
}
html, body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box; /* this is the default if using bootstrap. Otherwise, better having it */
}
/* flex layout stuff*/
.flex-direction-row{
	display: flex;
	flex-direction: row;
}
.flex-direction-col{
	display: flex;
	flex-direction: column;
}
.flex-direction-row > .flexible, .flex-direction-col > .flexible{
	flex: 1 1 auto;
}
/* override bootstrap */
label {
    font-weight: normal !important;
}

.disabled{
	color: #ccc;
	cursor: not-allowed;
}