{% extends "base.html" %}
{% set use_plotly = false %}
{% set use_esrileaflet = true %}

{% block head %}
    {{ super() }}
	<link href="static/css/dreport.css" rel="stylesheet" media="screen">
	<script type="text/javascript">
		var __SETTINGS = {{ settings|tojson }};
	</script>
{% endblock %}	

{% block body_content %}
	<!--  raw tells jinja not to parse curly braces so we can angular takes place -->
	{% raw %}
	<div class="main flex v-container">
		<div class="top"></div> <!-- not used, maybe in the future for a top toolbar ... -->
		<div class="center flex h-container">
			<div class="center">
				<div id="map"></div>
			</div>
			<div class="right flex v-container left-panel">
				<div class='center'>
					<div class='section'>
						This map shows the stations data availability (SDA)
						of the database. Each triangle represents a station,
						and its color the SDA defined as:
						<table class='formula'>
						<tr><td rowspan=2>SDA</td><td rowspan=2>=</td><td style="border-bottom:1px solid #000">number of the well formed segments</td></tr>
						<tr><td>total number of segments</td></tr>
						</table>
					</div>
					<div class='section'>
						You can click on the upper-right button
						(legend) to select the data-centers of
						interest (if more data-centers are found)
					</div>
				</div>
				<div class="bottom">
					<div class='section'>Malformed segments categories
					(select those of interest to
					recompute each station's SDA
					and update the map):
					</div>
					<div class='section'>
						<div class="form-check" ng:repeat="tuple in selLabels">
							<label class="form-check-label">
							    <input class="form-check-input" type='checkbox'
							    	   ng-model='selLabels[$index][1]'/>{{ tuple[0] }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endraw %}
	<script src="static/js/dreport/leafletmap.js" defer></script>
	<script src="static/js/dreport/ng-app.js" defer></script>
{% endblock %}	


<!-- 
<div id=map_></div>
<div id=legend>
	<div>
		<div class="header">Legend</div>
		<div class="legend_explain">
		Each circle denotes a station 
		whose color represents the data availability (white: no data, full red color: 100% data), 
		i.e. the number of well-formed waveform segments divided by the
		total number of segments downloaded from that station.
		<p>Well formed segments are those without any warning or error defined below (you can
		check/uncheck them to define which segments should be considered well-formed:
		the map will update colors and info's dynamically).
		<p>On the map, each circle is clickable and will display detailed station information.
		The control on the top right corner allows the user to visualize datacenter-specific statistics.
		</div>
	</div>
	<div>
		<div class="header">Warnings/ errors:</div>
		<div>
		{% for item in warnerrs_labels %}
			<label for="warnerr_{{loop.index}}">
				<input id="warnerr_{{loop.index}}" class='warnerr' data-type="{{ item }}" checked type='checkbox' onchange='drawMap()'> {{ item }}
			</label>
		{% endfor %}
		</div>
	</div>
</div>
</body>
</html>
 -->
