<!DOCTYPE html>
<html>
<head>
<!-- <script src="static/js/moment.min.js"></script> -->
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<script src="static/js/plotly-latest.min.js"></script>
<!-- <script src="static/js/Chart.js"></script> -->
<script src="static/js/angular.min.js"></script>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/mystyle.css" rel="stylesheet" media="screen">
<title>{{ title }}</title>
<script type="text/javascript">
// we load this global variable from server. This must tell
// angular how many divs we have
// Maybe not the clanest way, but saves us from
// tons of code implementing angular directives
var _NUM_CUSTOM_PLOTS = {{ numCustomPlots }};
</script>
</head>
<!--  from here on, start angular so curly braces refer to it and not jinja2. See endraw at the end -->
{% raw %}
<body ng-app="myApp" ng-controller="myController">
	<div class="main v-container">
		<div class=top>
	
		</div>
		<div class="center h-container">
			<div class="left v-container panel-left">
				<div class="top panel-heading segment-panel-heading">
					Segment {{ currentIndex + 1 }} of {{ segIds.length }}	
					<button  ng-show="!isEditingIndex" class='btn btn-default' ng-click="setPreviousSegment()">&larr;</button>
					<button  ng-show="!isEditingIndex" class='btn btn-default' ng-click="setNextSegment()" >&rarr;</button>
					<div class="checkbox">
						<label>
      					<input type="checkbox" ng-model="showFiltered"
      						ng-change="toggleFilter()"> Rem.resp&filter
    					</label>
  					</div>
				</div>
				<div class="center metadata">
					<div ng-repeat="elm in segData.metadata" class="panel panel-default">
						<div ng-click="toggleDivVisibility(elm[0])" class="panel-heading">
							{{ elm[0] }} <div ng-class="isDivVisible(elm[0]) ? 'arrow-up' : 'arrow-down'"></div>
						</div>
						<div ng-show="isDivVisible(elm[0])" class="panel-body">
							<table>
								<tr ng-repeat="subElm in elm[1]">
									<td>{{ subElm[0] }}</td><td>{{ subElm[1] }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class=bottom>
					<div class="annotations panel panel-default">
						<div ng-click="toggleDivVisibility('classes')" class="panel-heading">
							Class Labels: <div ng-class="isDivVisible('classes') ? 'arrow-down' : 'arrow-up'"></div>
						</div>
						<div ng-show="isDivVisible('classes')" class="panel-body">
							<div ng-repeat="class in classes">
		  						<label>
									<input
									    type="checkbox"
									    value="{{ class.id }}"
									    ng-checked="currentSegmentClassIds.indexOf(class.id) > -1"
									    ng-click="toggleClassLabelForCurrentSegment(class.id)"
									> {{ class.id }}: {{ class.label }} ({{ class.count }})
								</label>
							</div>
						</div>
					</div>
					<!-- <div class="progress-bar blue stripes">
    					<span style="width: 40%"></span>
					</div> -->
					<div ng-show=loading class="alert alert-info">
  						<strong>Loading</strong> please wait...
					</div>
				</div>
			</div>
{% endraw %}
			<div class="center h-container">
			<!-- plotly (as of feb 2017) does NOT work with flex layout. TOO BAD.
				 We set height and width explicitly here below
				 (not in the css, we need to mark this style important here)
				  -->
				<div class=mseed_plots_wrapper style="width:60%">
					<div id="plot-0" class='plot' plot-type='time-series' style="height:33%"></div>
					<div id="plot-1" class='plot' plot-type='time-series' style="height:33%"></div>
					<div id="plot-2" class='plot' plot-type='time-series' style="height:33%"></div>
				</div>
				<div class=custom_plots_wrapper style="width:40%">
					<div id="plot-3" style="height:{{ 100.0/(2+customPlots|length) }}%" class='plot' plot-type='freq-series'></div>
					<div id="plot-4" style="height:{{ 100.0/(2+customPlots|length) }}%" class='plot' plot-type='time-series'></div>
					{% for customPlotIndex in customPlots %}
	  				<div id="plot-{{customPlotIndex}}" style="height:{{ 100.0/(2+customPlots|length) }}%" class='plot'></div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	
	</div>
	<!--  Load our angular app after having loaded Charts (for safety)   -->
	<script src="static/js/app.js" defer></script>
</html>