<!DOCTYPE html>
<html>
<head>
<!-- DOWNLOAD LIBRARIES WITH FALLBACKS. FOR INFO SEE
http://stackoverflow.com/questions/26192897/should-i-use-bootstrap-from-cdn-or-make-a-copy-on-my-server
 -->
<script src="https://cdn.plot.ly/plotly-1.24.0.min.js"></script>
<script>window.Plotly || document.write('<script src="static/js/plotly.1.24.0.min.js"><\/script>')</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>window.angular || document.write('<script src="static/js/angular.1.5.6.min.js"><\/script>')</script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script type="text/javascript">
    var cssFound = false;
    for (var i = 0; i < document.styleSheets.length; i++) {
        var sheet = document.styleSheets[i];
        if (sheet['href'] && sheet['href'].indexOf("bootstrap.min.css") >= 0) {
        	//console.log(sheet['href']);
            cssFound = true;
            break;
        }
    }
    if (cssFound){
    	local_bootstrap = document.createElement('link');
        local_bootstrap.setAttribute("rel", "stylesheet");
        local_bootstrap.setAttribute("type", "text/css");
        local_bootstrap.setAttribute("media", "screen");
        local_bootstrap.setAttribute("href", "static/css/bootstrap.3.3.7.min.css");
        document.getElementsByTagName("head")[0].appendChild(local_bootstrap);
    }
</script>

<link href="static/css/mystyle.css" rel="stylesheet" media="screen">
<title>{{ title }}</title>

<script type="text/javascript">
	var __SETTINGS = {{ settings|tojson }};
</script>

</head>
<!--  raw tells jinjs not to parse curly braces so we can angular takes place -->
{% raw %}
<body ng-app="myApp" ng-controller="myController">
	<div class="main v-container">
		<div class=top>
	
		</div>
		<div class="center h-container">
			<div class="left v-container panel-left">
				<div class="top">
					<div class="panel panel-default">
						<div class="panel-heading">Segments</div>
						<div class="panel-body">
							<div class="checkbox">
								<div class="checkbox">
									Current: {{ segIdx + 1 }} of {{ segIds.length }}
								</div>	
								<div class="checkbox">
									<button class='btn btn-default' ng-click="setPreviousSegment()">&larr;</button>
									<button class='btn btn-default' ng-click="setNextSegment()" >&rarr;</button>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="showAllComponents" ng-change="toggleAllComponentView()"> Show all components</label>
								
								</div>
							</div>
							<button class='btn btn-default btn-block' ng-click="selection.showForm=true">Select</button>
	  					</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Plots</div>
						<div class="panel-body">				
							<div class="checkbox">
								<label><input type="checkbox" ng-model="showFiltered" ng-change="toggleFilter()"> Filter</label>
								<div class="tooltip_">?
									<span class="tooltiptext">
										Filters the signal and removes the instrumental response
										<p>The filter algorithm has the following steps:
									    <p> 1. Sets the max frequency to 0.9 of the nyquist freauency (sampling rate /2)
    									(slightly less than nyquist seems to avoid artifacts)
    									<p>2. Offset removal (substract the mean from the signal)
										<p>3. Tapering
								    	<p>4. Pad data with zeros at the END in order to accomodate the filter transient
    									<p>5. Apply bandpass filter, where the lower frequency is set according to the magnitude
									    <p>6. Remove padded elements
									    <p>7. Remove the instrumental response
									</span>
								</div>
		  					</div>
		  					
		  					<div class="divider"></div>

							<div id="spectra" class="radio">Spectra
								<div class="tooltip_">?
									<span class="tooltiptext">
										Define the windows for the spectra
										<p>Arrival time shift: shifts programmatically the calculated arrival time of
										each segment by the specified amount of time (in seconds). Negative values are allowed.
										The arrival time sets the <i>end</i> of the noise window, whose
										length (duration) is always set equal to the signal window (see below)
										<p>Signal window: specifies the signal window. It can be a number, specifying the
										window duration, in seconds starting from the arrival time, or a 2-element array
										specifying the window time start and end, relative to the cumulative. A value of [0.05, 0.95] for
										instance sets the signal window from the time the cumulative reaches 5% of its maximum, until
										the time it reaches 95% of its maximum. Note that in this case the noise window and the
										signal window might overlap.
									</span>
								</div>
							</div>
							
							<label class="checkbox">Arrival time shift:</label>
							<input class="checkbox" type="text" ng-model="snWindows.arrival_time_shift" ng-change="snWindows._changed=true">
							
							<label class="checkbox">Signal window:</label>
							<input class="checkbox" type="text" ng-model="snWindows.signal_window" ng-change="snWindows._changed=true">
		  					
							<button class='btn btn-default btn-block' ng-disabled="!snWindows._changed" ng-click="configSpectra()">Refresh</button>
							
							<div class="divider"></div>

							<div class="radio">Bottom plot</div>
							{% endraw %}{% for name in userDefinedPlotNames %}
							<div class="radio">
								<label><input type="radio" ng-change="bottomPlotChanged()" ng-model="bottomPlotId" value="{{ loop.index0 + 2}}">{{ name }}</label>
							</div>
							{% endfor %}{% raw %}
	  					</div>
	  				</div>
	  			</div>
				<div class="center">
					<div ng-show=loading class="alert alert-info">
  						<strong>Loading...</strong>
					</div>				
				</div>
				<div class=bottom>
				</div>
			</div>
			<div class="center h-container panel-center" style='position:relative'>
				<!-- plotly (as of feb 2017) does NOT work with flex layout. TOO BAD. -->
				<!--
					***********************
					NOTE: IMPORTANT READ ME
					***********************
			  		(see plotlyconfig.js in case, verything is there)
    			    - data-plot makes the div plottable (i.e., associates a plotly object on it)
				    - data-plotindex refers to the index on the server.
				      Note that index=0: current trace, index=1: spectra, so indices start from 2 to correctly
				      point to the server plot
				    - ID of these divs will be set AUTOMATICALLY AS "plot" + getAttribute('data-plotindex)
				 -->
				 <div class='tl'>
					 <div data-plotindex=0 class='plot' data-plot='time-series'></div>
				 </div>
				 <div class="bl">
					{% endraw %}{% for name in userDefinedPlotNames %}
					<div ng-show='plots[{{loop.index0 + 2}}].visible'  data-plot='time-series' data-plotindex={{ loop.index0 + 2 }} class='plot'></div>
					{% endfor %}{% raw %}
				</div>
				<div  class="tr">
					<div data-plotindex=1 class='plot' data-plot='freq-series'></div>
				</div>
				<div class="br flex h-container">
					<div class="metadata panel panel-default center flex v-container">
						<div class="panel-heading top">Segment Metadata</div>
						<div class="panel-body center">
						
							<div>
								<div class="divider"></div>
								<div ng-click="toggleDivVisibility('classes')">
									classes <div ng-class="isDivVisible('classes') ? 'arrow-up' : 'arrow-down'"></div>
								</div>
								<div ng-show="isDivVisible('classes')" class="panel-body">
									<div ng-repeat="class in classes">
				  						<label>
											<input
											    type="checkbox"
											    value="{{ class.id }}"
											    ng-checked="segData.classIds.indexOf(class.id) > -1"
											    ng-click="toggleClassLabelForCurrentSegment(class.id)"
											> {{ class.id }}: {{ class.label }} ({{ class.count }})
										</label>
									</div>
								</div>
							</div>
		
							<div ng-repeat="(key, vals) in segData.metadata">
								<div class="divider"></div>
								<div ng-click="toggleDivVisibility(key)">
									{{ key }} <div ng-class="isDivVisible(key) ? 'arrow-up' : 'arrow-down'"></div>
								</div>
								<div ng-show="isDivVisible(key)" class="panel-body">
									<table>
										<tr ng-repeat="(subKey, subVal) in vals">
											<td>{{ subKey }}</td><td>{{ subVal }}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SELECTION FORM (move at the end so that it does not display long time, it's annoying otherwise) -->
	<div ng-show="selection.showForm" class="popup popup-center alert">
		Select segments where: <div class="tooltip_">?
									<span class="tooltiptext">
										Here you can select which segments to show. Each non-empty field will
										denote a select condition which can be in any of the following formats:
										<p>1. A space-separated list of values: select those values. Example:
										<br>event.contributor <span class='border'>"name 1" name2</span>
										<br>(strings with spaces must be quoted), or:
										<br>segment.start_time <span class='border'>2006-01-03T00:04:03 2006-01-04</span>
										<p>2. An expression beginning with &gt;= &lt;= &gt; &lt; != = (or ==):
										evaluates the expression and select matching elements only. Example:
										<br>segment.id <span class='border'>&gt;= 300</span>
										<p>3. An interval, either with square brackets ("include end-points") or round ones
										(no end-points): select elements whose field value is in the given interval. Example:
										<br>event.magnitude <span class='border'>[3.5, 6)</span>
										<p>
										Note: if more than one field is given (non-empty), segment matching <i>all</i> conditions 
										will be selected
									</span>
								</div>
		<a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="return false;"
			ng-click="selection.showForm=!selection.showForm">&times;</a>
		<div class="center">
			<table style='width:100%'>
				<tr ng-repeat="values in metadata">
					<td>{{ values[0] }}</td>
					<td style='width:100%'><input style='width:100%' type=text
						ng-model="values[2]"
						placeholder="({{ values[1] }})"/></td>
				</tr>
			</table>
		</div>
		<div class='bottom'>
			<button class='btn btn-default' ng-click="selectSegments()">Select</button>
			<span>{{ selection.errorMsg }}</span>
		</div>
	</div>
	<!-- load plots config and angular at the end (IN THIS ORDER!) -->
	<script src="static/js/plotlyconfig.js" defer></script>
	<script src="static/js/app.js" defer></script>
</body>
</html>
{% endraw %}