{% extends "flask_base.html" %}
{% set use_ng = true %}
{% set use_plotly = true %}
{% set use_leaflet = false %}
{% set use_esrileaflet = false %}
{% set use_bootstrap_css = true %}

{% block head_scripts %}
    {{ super() }}
	<script type="text/javascript">
		/*__SETTINGS below is the bridge between everything that must be passed from the backend
		(jinja2) to the frontend (angular):*/
		var __SETTINGS = {{ settings|tojson }};
		__SETTINGS.bottomPlots = {{ bottomPlots|tojson }};
		__SETTINGS.rightPlots = {{ rightPlots|tojson }};
	    function getScope(){ // returns the controller angular scope
	    		//https://stackoverflow.com/questions/16709373/angularjs-how-to-call-controller-function-from-outside-of-controller-component
	    		return angular.element(document.getElementById('angularController')).scope();
	    }
	</script>
{% endblock %}

{% block head_stylesheets %}
    {{ super() }}
    	<link href="static/css/mainapp.css" rel="stylesheet" media="screen">
{% endblock %}

{% block body_tag %}
<body ng-app="myApp" ng-controller="myController" id='angularController'>
{% endblock %}

{% block body_content %}
	{{ super() }}
	<!--  raw tells jinja not to parse curly braces so we can angular takes place -->
	{% raw %}
	<div class="main v-container">
		<div class=top></div> <!-- not used, maybe in the future for a top toolbar ... -->
		<div class="center h-container">
			<div id='controls-left-panel' class="left flex v-container">
				<div class="center">
					<!-- use checkbox class for all same level divs (bootstraps controls margins top and bottom intelligently -->
					<h4 class="inline">Segment {{ segIdx + 1 }} of {{ segIds.length }}</h4>
					<div class="inline sel-prev-next flex h-container">
						<button class='btn btn-default center' ng-click="setPreviousSegment()">&larr;</button>
						<button class='btn btn-default center' ng-click="setNextSegment()" >&rarr;</button>
					</div>
					<div class="inline">
						<button class='btn btn-default btn-block' ng-click="selection.showForm=true">Select</button>
					</div>
					<div class="divider"></div>			
					<h4 class="inline">Plots</h4>		
					<div class="inline">
						<label><input type="checkbox" ng-model="showPreProcessed" ng-change="togglePreProcess()"> Pre-process</label>
						<div class="tooltip_">?
							<pre class="tooltiptext">{% endraw %}{{ preprocessfunc_doc }}{% raw %}</pre>
						</div>
  					</div>
  					<div class="inline">
						<label><input type="checkbox" ng-model="showAllComponents" ng-change="toggleAllComponentView()"> Show all components</label>
					</div>
					<div class="inline">
						<button class='btn btn-default btn-block' ng-click="config.showForm=true">Config</button>
					</div>
	  			</div>
				<div class="bottom">
					<div ng-show="warnMsg" class="alert alert-info">
  						<strong>{{ warnMsg }}</strong>
					</div>				
				</div>
			</div>
			<div id='plots-center-panel' class="center h-container">
				<!-- plotly (as of feb 2017) does NOT work with flex layout. TOO BAD. -->
				 <div class='tl'>
				 	<div class='plot-wrapper'>
						<div id="plot-0" class="plot"></div>
				 	</div>
				 </div>
				 {% endraw %}
				 {% if bottomPlots|length %}
				 <div class="bl">
					{% for obj in bottomPlots %}
					<div class='plot-wrapper' ng-show='plots[{{ obj.index }}].visible'>
						<div id='plot-{{obj.index}}' class='plot'></div>
					</div>
					{% endfor %}
					{% if bottomPlots|length > 1 %}
					<div>
						{% for obj in bottomPlots %}
							<button  ng-class="plots[{{ obj.index }}].visible ? 'active btn-primary' : 'btn-default'" 
								ng-click="setPlotVisible({{ obj.index }})"
								class='btn btn-sm'>{{ obj.name }}</button>
						{% endfor %}
					</div>
					{% endif %}
				 </div>
				 {% endif %}
				 {% if rightPlots|length %}
				 <div class="tr">
					{% for obj in rightPlots %}
					<div class='plot-wrapper' ng-show='plots[{{ obj.index }}].visible'>
						<div id='plot-{{obj.index}}' class='plot'></div>
					</div>
					{% endfor %}
					{% if rightPlots|length > 1 %}
					<div>
						{% for obj in rightPlots %}
							<button ng-class="plots[{{ obj.index }}].visible ? 'active btn-primary' : 'btn-default'" 
								ng-click="setPlotVisible('{{ obj.index }}')"
								class='btn btn-sm'>{{ obj.name }}</button>
						{% endfor %}
					</div>
					{% endif %}
				 </div>
				 {% endif %}
				{% raw %}
				<div class="br flex h-container">
					<div class="metadata panel panel-default center flex v-container">
						<div class="panel-heading top">Segment Metadata</div>
						<div class="panel-body center">
							<div ng-show="classes.length">
								<div class="divider"></div>
								<div ng-click="toggleDivVisibility('classes')">
									classes <div ng-class="isDivVisible('classes') ? 'arrow-up' : 'arrow-down'"></div>
								</div>
								<div ng-show="isDivVisible('classes')" class="panel-body">
									<div ng-repeat="class in classes">
				  						<label>
											<input
											    type="checkbox"
											    value="{{ class.id }}"
											    ng-model="segData.classIds[class.id]"
											    ng-click="toggleSegmentClassLabel(class.id)"
											> {{ class.label }} ({{ class.count }} segments)
										</label>
									</div>
								</div>
							</div>
							<div ng-repeat="(key, vals) in segData.metadata">
								<div class="divider"></div>
								<div ng-click="toggleDivVisibility(key)">
									{{ key }} <div ng-class="isDivVisible(key) ? 'arrow-up' : 'arrow-down'"></div>
								</div>
								<div ng-show="isDivVisible(key)" class="panel-body">
									<table>
										<tr ng-repeat="(subKey, subVal) in vals">
											<td>{{ subKey }}</td><td>{{ subVal }}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SELECTION FORM (move at the end so that it does not display long time, it's annoying otherwise) -->
	<div id="select-form" ng-show="selection.showForm" class="popup alert">
		Select segments where: <div class="tooltip_">? <pre class="tooltiptext">{% endraw %}{{ segment_select_doc }}{% raw %}</pre></div>
		<a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="return false;"
			ng-click="selection.showForm=!selection.showForm">&times;</a>
		<div class="center">
			<table style='width:100%'>
				<tr><th>Key</th><th>Simplified "select"" expression (db column type in brakets):</th></tr>
				<tr ng-repeat="values in metadata">
					<td ng-class="values[2] ? 'select-highlighted' : ''">{{ values[0] }}</td>
					<td style='width:100%'>
						<input style='width:100%' type=text ng-model="values[2]" placeholder="({{ values[1] }})"/>
					</td>
				</tr>
			</table>
		</div>
		<div class='bottom'>
			<button class='btn btn-default' ng-click="selectSegments()">Select</button>
			<span>{{ selection.errorMsg }}</span>
		</div>
	</div>
	
	<div id="config-form" ng-show="config.showForm" class="popup alert">
		Config (note: the form below reflect the config yaml file, but it cannot have the
		same syntax complexity. As such, commas will be recognized as array-separator:
		in case, square brakets are optional, as well as spaces around commas)
		<a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="return false;"
			ng-click="config.showForm=!config.showForm">&times;</a>
			
			<table style='width:100%'>
				<tr><th>Key</th><th>Value</th></tr>
				<tr ng-repeat="(key, value) in config.data">
					<td>{{ key }}</td>
					<td style='width:100%'>
						<input style='width:100%' type=text ng-change="config.changed=true" ng-model="config.data[key]"/>
					</td>
				</tr>
			</table>
			
		<div class='bottom'>
			<button class='btn btn-default' ng-click="updateConfig()">Select</button>
			<span>{{ config.errorMsg }}</span>
		</div>
	</div>
	{% endraw %}
{% endblock %}
{% block after_body %}
	{{ super() }}
	<!-- load plots config and angular at the end (IN THIS ORDER!) -->
	<script src="static/js/mainapp/ng-app.js" defer></script>
{% endblock %}