<!DOCTYPE html>
<html>
<head>
	<title>s2s GUI {{ dburl }}</title>
{% block head_meta %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style>
		body, html{font-family: 'Montserrat', "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;}
	</style>
{% block head_scripts %}
	{% if use_ng %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	{% endif %}
	
	{% if use_plotly %}
	<script src="https://cdn.plot.ly/plotly-1.24.0.min.js"></script>
	{% endif %}
	
	{% if use_leaflet or use_esrileaflet %}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	{% endif %}
	
	{% if use_esrileaflet %}
	<script src="https://unpkg.com/esri-leaflet@2.1.4"></script>
	{% endif %}
{% endblock %}
{% block head_stylesheets %}
	{% if use_leaflet or use_esrileaflet %}
		<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	{% endif %}
	{% if use_bootstrap_css %}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
	{% endif %}
{% endblock %}
</head>

{% block body_tag %}
<body>
{% endblock %}
	{% block body_content %}
	{% endblock %}
</body>

{% block after_body %}
{% endblock %}

</html>