{% extends "base.html" %}
<!-- implements fallbacks. This TEMPLATE NEEDS TO BE USED WITH FLASK -->
{% block head_scripts %}
	{{ super() }}
	
	{% if use_ng %}
	<script>window.angular || document.write('<script src="static/js/angular.1.5.6.min.js"><\/script>')</script>
	{% endif %}
	
	{% if use_plotly %}
	<script>window.Plotly || document.write('<script src="static/js/plotly.1.24.0.min.js"><\/script>')</script>
	{% endif %}
	
	{% if use_leaflet or use_esrileaflet %}
		<script>window.L || document.write('<script src="static/js/leaflet.1.3.1/leaflet.js"><\/script>')</script>
	{% endif %}
	
	{% if use_esrileaflet %}
		<script>(window.L && window.L.esri) || document.write('<script src="static/js/esri-leaflet.2.1.4.js"><\/script>')</script>
	{% endif %}

{% endblock %}

{% block head_stylesheets %}
	{{ super() }}
	<link href="static/css/base.css" rel="stylesheet" media="screen">
	{% if use_leaflet or use_esrileaflet %}
		<script>window.L || document.write('<link rel="stylesheet" href="static/js/leaflet.1.3.1/leaflet.css"><\/link>')</script>
	{% endif %}
{% endblock %}

{% block body_content %}
	{% if use_bootstrap_css %}
	<!-- Div for checking bootsrap was loaded (see end of the document and
		https://stackoverflow.com/questions/14141532/how-to-load-local-copy-of-bootstrap-css-when-the-cdn-server-is-down): -->
	<div id="_bootstrapfallbacktest_______H;68_ft" class='hidden'></div>
	{% endif %}
{% endblock %}

{% block after_body %}
	{% if use_bootstrap_css %}
	<!--
	LOAD BOOTSTRAP FROM LOCAL COPY IF SERVICE IS DOWN:
	 https://stackoverflow.com/questions/14141532/how-to-load-local-copy-of-bootstrap-css-when-the-cdn-server-is-down
	and https://stackoverflow.com/questions/19669786/check-if-element-is-visible-in-dom
	(we have no jquery here:) -->
	<script>
		if(document.getElementById("_bootstrapfallbacktest_______H;68_ft").offsetParent !== null){  //element is not hidden, load bootstrap
			// console.log('LOADING BOOTSTRAP from server');
			local_bootstrap = document.createElement('link');
		       local_bootstrap.setAttribute("rel", "stylesheet");
		       local_bootstrap.setAttribute("type", "text/css");
		       local_bootstrap.setAttribute("media", "screen");
		       local_bootstrap.setAttribute("href", "{{ url_for('static', filename='css/bootstrap.3.3.7.min.css') }}");
		       document.getElementsByTagName("head")[0].appendChild(local_bootstrap);
		}
	</script>
	{% endif %}
{% endblock %}
