{% extends "base.html" %}
{% set use_axios = true %}
{% set use_plotly = true %}
{% set use_leaflet = false %}
{% set use_bootstrap_css = true %}

{% block head_css %}
{{ super() }}
body{
	background-color: whitesmoke !important;
	padding: .75rem !important;
}
.popup{
	z-index: 100000;
	background-color: #f5f5f5;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.33);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding: 1rem;
}
.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #444;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}
	@keyframes rotation {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(360deg);
	}
}
{% endblock %}

{% block body_content %}
{{ super() }}
<div class="main d-flex flex-column" style="height:100%">
	<!-- TOOLBAR -->
	<div class="d-flex flex-row align-items-baseline">
		<h4 id="segment-info">Segment
			<span id="current_segment_index">{%- if num_segments > 0 -%}1{%- else -%}0{%- endif -%}</span>
			of
			<span id="segments_count">{{ num_segments }}</span>
		</h4>
		<button id="prev-segment-btn" class='btn btn-default center' onclick="setPreviousSegment()"
				title="previous segment (keyboard: left arrow)" style="margin-left:.5rem">
			<span class='arrow-left'></span>
		</button>
		<button id="next-segment-btn" class='btn btn-default center' onclick="setNextSegment()"
				title="next segment (keyboard: right arrow)" style="margin-left:.5rem">
			<span class='arrow-right'></span>
		</button>

		<button class='btn btn-default' onclick="showSelectForm()" style="margin-left:.5rem">
			Select
		</button>
		<h4>Plots:</h4>
		<label title="{{ preprocessfunc_doc }}" style="margin-left:.5rem">
			<input type="checkbox" id="preprocess_func_input"
				   {% if preprocess_func_on -%}checked{%- endif %}
				   onchange="refreshView(null, false, null)"> Pre-process
		</label>
		<button class='btn btn-default' onchange="showConfigForm()" style="margin-left:.5rem">
			Config
		</button>
		<div id="db_url" style="margin-left:.5rem;flex: 1 1 0;white-space:nowrap;overflow:auto">
			DB: {{ title }}
		</div>
	</div>
	<!-- PLOTS CONTAINER -->
	<div class="d-flex flex-row" style="flex: 1 1 auto">
		<!--LEFT COLUMN PLOTS -->
		<div class='d-flex flex-column' style="flex: 0 0 50%" >
			<div style="flex: 1 1 50%; position:relative">
				<div id='main-plot' style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
			</div>
			<div class="{%- if bottomPlots|length < 1 -%}d-none{%- else -%}d-flex{%- endif %} flex-column" style="flex:1 1 50%">
				<div style="flex: 1 1 auto; position:relative">
					<div id='bottom-plot' style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
				</div>
				<div class="d-flex flex-row">
					{% for plot in bottomPlots %}
					<input type="radio" class="btn-check"
						   name="bottom-plot-option" id="bottom-plot-{{ plot.name }}"
						   data-plot='["{{ plot.name }}", "bottom-plot", {{ plot.layout | tojson }}]'
						   onclick="refreshView(JSON.parse(this.getAttribute('data-plot')), false, null)"
						   {%- if loop.index0 == 0 %} checked {% endif %}
						   title="{{plot.doc}}" autocomplete="off">
					<label class="btn btn-sm btn-outline-secondary me-2" for="bottom-plot-{{ plot.name }}">{{ plot.name }}</label>
					{% endfor %}
				</div>
		 	</div>
		</div>
		<!--RIGHT COLUMN PLOTS -->
		<div class='d-flex flex-column' style="flex: 0 0 50%">
			 <!-- RIGHT TOP PLOT PANEL (WITH BUTTONS) -->
			<div class="{%- if rightPlots|length < 1 -%}d-none{%- else -%}d-flex{%- endif %} flex-row" style="flex:1 1 50%">
				<div style="flex: 1 1 auto; position:relative">
					<div id="right-plot" style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
				</div>
				<div class="d-flex flex-column">
					{% for plot in rightPlots %}
					<input type="radio" class="btn-check"
						   name="right-plot-option" id="right-plot-{{ plot.name }}"
						   data-plot='["{{ plot.name }}", "right-plot", {{ plot.layout | tojson }}]'
						   onclick="refreshView(JSON.parse(this.getAttribute('data-plot')), false, null)"
						   {%- if loop.index0 == 0 %} checked {% endif %}
						   title="{{plot.doc}}" autocomplete="off">
					<label class="btn btn-sm btn-outline-secondary mb-2" for="right-plot-{{ plot.name }}">{{ plot.name }}</label>
					{% endfor %}
				</div>
			</div>
			<!-- RIGHT BOTTOM PANEL (SEGMENT METADATA) -->
			<div class="d-flex flex-column" style="flex: 1 1 50%; margin-left:1rem">
				<div>
					&#9432; Segment id (net.sta.loc.cha code): <span style="font-weight:bold; color:black">{ segData.mainInfo.seedId}}</span>,
					P-wave arrival: <span style="font-weight:bold; color:black">{ segData.mainInfo.arrivalTime}}</span>. Recorded
					event of magnitude <span style="font-weight:bold; color:black">{ segData.mainInfo.eventMag}}</span> is located
					&#8773; <span style="font-weight:bold; color:black">{ segData.mainInfo.eventDistanceKm}} Km</span> from the segment station.
					Full Segment metadata:
				</div>
				<div style="flex:1 1 auto; position:relative">
					<div style="position:absolute;top:0;right:0;bottom:0;left:0;overflow:auto">
						<table style="width:100%;">
							{% for class in classes -%}
							<tr><td>
								<label style="white-space: nowrap;"
									   title="{{ class.label }}{%- if class.description -%}: {{ class.description }}{%- endif -%}">
									<input type="checkbox" data-segment-class-id="{{ class.id }}"
										   onclick="setClassLabel(parseInt(this.getAttribute('data-segment-class-id')), this.hasAttribute('checked'))">
									{{ class.label }}
								</label>
							</td><td title="{{ class.label }}{%- if class.description -%}: {{ class.description }}{%- endif -%}"
									 style="text-overflow: ellipsis;white-space:nowrap;max-width:0;overflow:hidden" >
								({{ class.segments }} segments labelled) {{ class.description }}
							</td>
							{%- endfor -%}
							{% for mdata in metadata -%}
							{% set name = mdata[0] %}
							{% set cssstyle = mdata[3] %}
							<tr style="{{ cssstyle }}">
								<td>{{ name }}</td>
								<td data-segment-attr="{{ name }}" style='width:100%'>N/A</td>
							</tr>
							{%- endfor -%}
						</table>
					</div>
				</div>
			</div>
		 </div>
	</div>
</div>

<!-- SELECTION FORM (move at the end so that it does not display long time, it's annoying otherwise) -->
<div id="select-form" style="display:none" class="popup">
	<!-- Select segments where: -->
	<div>
		<button type="button" class="btn-close" aria-label="Close"
				onclick="this.parentNode.parentNode.style.display='none'"></button>
	</div>
	<div>
		<table id="table-select">
			<tr>
				<th>Attribute</th>
				<th><i>Select</i> expression
					<table class='note'>
							<tr><td>a b c</td><td>select segments whose attribute value is a, b or c</td></tr>
							<tr><td>[a, b]</td><td>select segments whose attribute value is between a and b (including endpoints)</td></tr>
							<tr><td>(a, b)</td><td>select segments whose attribute value is between a and b (excluding endpoints)</td></tr>
						<tr><td>!=a</td><td>select segments whose attribute value is not a</td></tr>
						<tr><td> =a &gt;a &gt;=a &lt;a &lt;=a</td><td>(same as above with different operators)</td></tr>
					</table>
				</th>
			</tr>
			{% for mdata in metadata -%}
			{% set name = mdata[0] %}
			{% set type = mdata[1] %}
			{% set selection_expression = mdata[2] %}
			{% set cssstyle = mdata[3] %}
			<tr style="{{ cssstyle }}">
				<td>
					<span id="sss-{{ name }}"
						  class="{{ 'select-highlighted' if selection_expression.strip() else '' }}"
					>{{ name }}</span>
				</td>
				<td style='width:100%'>
					<input style='width:100%' type=text
						   value="{{ selection_expression }}"
						   data-segment-select-attr="{{ name }}"
						   oninput="this.value ? document.getElementById('sss-{{ name }}').classList.add('select-highlighted') : document.getElementById('sss-{{ name }}').classList.remove('select-highlighted')"
						   placeholder="{{ type }}"
					/>
				</td>
			</tr>
			{%- endfor -%}
		</table>
	</div>
	<div style='text-align:center'>
		<button class='btn btn-default' onclick="selectSegments(selection.selExpr)">Select</button>
	</div>
</div>

<div id="config-form" class="popup" style="display:none">
	<!-- Config (.yaml file) -->
	<div>
		<button type="button" class="btn-close" aria-label="Close"
				onclick="this.parentNode.parentNode.style.display='none'"></button>
	</div>
	<div>
	Configuration editor (YAML syntax):
	</div>
	<div id='configEditor'>
	</div>
	<div style='text-align:center'>
		<button class='btn btn-default' onclick="updateConfig()">Update</button>
	</div>
</div>

<div id="message_dialog" class="popup d-flex flex-column align-items-center"
	 style="display:none; position: absolute; top:  50%; left: 50%;transform: translate(-50%,-50%);">
	<span class="loader"></span>
	<div class="d-flex flex-row align-items-end">
		<div class="message" style="margin-top:.5rem"></div>
		<button type="button" class="btn-close" aria-label="Close"
				onclick="this.parentNode.parentNode.style.display='none'"></button>
	</div>
</div>
{% endblock %}

{% block after_body %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.17.0/ace.min.js"></script>
	<script type="text/javascript">
		var configEditor = ace.edit("configEditor");
		ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.8');
		// instead of doing so:
		// configEditor.setTheme("ace/theme/idle_fingers");
		// configEditor.session.setMode("ace/mode/yaml");
		// we set everything in the options dict
		// (for infor see: https://codepen.io/ryancat/pen/mMyvpx)
		var _fs = parseFloat(window.getComputedStyle(document.body).getPropertyValue('font-size'));
		configEditor.setOptions({
			wrap: true,
			fontSize: isNaN(_fs) ? 15 : _fs,
			mode: "ace/mode/yaml",
			theme: "ace/theme/idle_fingers",
			showLineNumbers: true,
	    });

		// adding keystrokes to segments selection:
		document.addEventListener("keyup", e => {
			if(e.ctrlKey || e.metaKey){ return; }
			var eTag  = (e.target.tagName || "").toLowerCase();
			var eType = (e.target.getAttribute('type') || "").toLowerCase();
			if((eTag == 'textarea') || (eTag == 'input' && eType == 'text')){ return; }
			var elm = null;
			if (e.keyCode + "" == '37') {  // left arrow
				elm = document.getElementById("prev-segment-btn");
			}else if (e.keyCode + "" == '39') {  // right arrow
				elm = document.getElementById("next-segment-btn");
			}
			if (elm){
				e.preventDefault();
				elm.click();
			}
		});
	</script>
	<script src="static/js/mainapp.js"></script>
	<script>
		const SEGMENTS_COUNT = {{ num_segments }};
		const SELECTED_SEGMENT_INDEX = 0;
		{%- if num_segments > 0 -%}
		refreshView(null, true, null);  // see JS file
		{%- endif -%}
	</script>
{% endblock %}