{% extends "flask_base.html" %}
{% set use_ng = true %}
{% set use_plotly = true %}
{% set use_leaflet = false %}
{% set use_esrileaflet = false %}
{% set use_bootstrap_css = true %}

{% block head_scripts %}
    {{ super() }}
	<script type="text/javascript">
		/*__SETTINGS below is the bridge between everything that must be passed from the backend
		(jinja2) to the frontend (angular):*/
		var __SETTINGS = {{ settings|tojson }};
		__SETTINGS.bottomPlots = {{ bottomPlots|tojson }};
		__SETTINGS.rightPlots = {{ rightPlots|tojson }};
	</script>
{% endblock %}

{% block head_stylesheets %}
    {{ super() }}
    	<link href="static/css/mainapp.css" rel="stylesheet" media="screen">
{% endblock %}

{% block body_tag %}
<body ng-app="myApp" ng-controller="myController" id='angularController'>
{% endblock %}

{% block body_content %}
	{{ super() }}
	<!--  raw tells jinja not to parse curly braces so we can angular takes place -->
	{% raw %}
	<div class="main flex-direction-col">
		<div class='navbar'>
			<div class="flex-direction-row toolbar">
				<!-- use checkbox class for all same level divs (bootstraps controls margins top and bottom intelligently -->
				<div class="flex-direction-row toolbar" ng-show="segmentsCount>0">
					<h4>Segment {{ segIdx + 1 }} of {{ segmentsCount.toLocaleString('en-US') }}</h4>
					<button id="prev-segment-btn" class='btn btn-default center' ng-click="setPreviousSegment()"
							title="previous segment (keyboard: left arrow)">
						<span class='arrow-left'></span>
					</button>
					<button id="next-segment-btn" class='btn btn-default center' ng-click="setNextSegment()"
							title="next segment (keyboard: right arrow)">
						<span class='arrow-right'></span>
					</button>
				</div>
				
				<button class='btn btn-default' ng-click="showSelectForm()">
					Select
				</button>
				
				<div class="flex-direction-row toolbar" ng-show="segmentsCount>0">
					<h4>Plots:</h4>		
					<label ng-show="hasPreprocessFunc" title="{% endraw %}{{ preprocessfunc_doc }}{% raw %}">
						<input type="checkbox" ng-model="showPreProcessed" ng-change="togglePreProcess()"> Pre-process
					</label>
					<label>
						<input type="checkbox" ng-model="showAllComponents" ng-change="toggleAllComponentView()"> Show all orientations
					</label>
				</div>
	
				<button class='btn btn-default' ng-click="showConfigForm()">
					Config
				</button>

				<div class="flexible text-right" ng-show="!warnMsg && !loading">DB: {% endraw %}{{ dburl }}{% raw %}</div>
				<div class="flexible" ng-show='warnMsg || loading' ng-class="warnMsg && !loading ? 'select-highlighted-err' : ''">{{ warnMsg }} <div ng-show='loading' class='loader'></div></div>
			</div>
		</div>
		<div class="center flexible flex-direction-row">
			 <div class='flexible-half flex-direction-col'>
				 <div class='flexible-half flex-direction-col'>
				 	<div class='plot-wrapper flexible'>
						<div id='plot-0' class='plot'></div>
				 	</div>
				 </div>
				 {% endraw %}
			 	 {% if bottomPlots|length %}
				 <div class='flexible-half flex-direction-col'>
					<div class='plot-wrapper flexible'>
						{% for obj in bottomPlots %}
							<div id='plot-{{obj.index}}' class='plot'
								 ng-show="plots[{{ obj.index }}].visible"></div>
						{% endfor %}
					</div>
					{% if bottomPlots|length > 1 %}
					<div class='flex-direction-row toolbar'>
						{% for obj in bottomPlots %}
							<button  ng-class="plots[{{ obj.index }}].visible ? 'active btn-primary' : 'btn-default'" 
								ng-click="setPlotVisible({{ obj.index }})"
								class='btn btn-sm' title="{{obj.doc}}">{{ obj.name }}</button>
						{% endfor %}
					</div>
					{% endif %}
				 </div>
				 {% endif %}
				 {% raw %}
			 </div>
			 <div class='flexible-half flex-direction-col'>
				{% endraw %}
				{% if rightPlots|length %}
				<div class='flexible-half flex-direction-row'>
					<div class='plot-wrapper flexible'>
						{% for obj in rightPlots %}
						<div id='plot-{{obj.index}}' class='plot'
							ng-show="plots[{{ obj.index }}].visible"></div>
						{% endfor %}
					</div>
					{% if rightPlots|length > 1 %}
					<div class='flex-direction-col toolbar'>
						{% for obj in rightPlots %}
							<button ng-class="plots[{{ obj.index }}].visible ? 'active btn-primary' : 'btn-default'" 
								ng-click="setPlotVisible({{ obj.index }})"
								class='btn btn-sm' title="{{obj.doc}}">{{ obj.name }}</button>
						{% endfor %}
					</div>
					{% endif %}
					</div>
				{% endif %}
				{% raw %}
				<div class="flexible-half flex-direction-col">
					<div class="metadata panel panel-default flexible flex-direction-col">
						<div class="panel-heading" style='background-color:transparent !important'>
							&#9432; Segment seed id (net.sta.cha.loc.cha code): <span style="font-weight:bold; color:black">{{ segData.mainInfo.seedId}}</span>,
							P-wave arrival: <span style="font-weight:bold; color:black">{{ segData.mainInfo.arrivalTime}}</span>. Recorded
							event of magnitude <span style="font-weight:bold; color:black">{{ segData.mainInfo.eventMag}}</span> is located
							&#8773; <span style="font-weight:bold; color:black">{{ segData.mainInfo.eventDistanceKm}} Km</span> from the segment station.
							Full Segment metadata:
						</div>
						<div class='flexible'>
							<div class="panel-body">
								<div ng-show="classes.length">
									<div class="divider"></div>
									<div ng-click="toggleDivVisibility('classes')">
										class label <div ng-class="isDivVisible('classes') ? 'arrow-up' : 'arrow-down'"
											style='float:right'></div>
									</div>
									<div ng-show="isDivVisible('classes')" class="panel-body">
										<div ng-repeat="class in classes">
					  						<label title="{{ class.description }}">
												<input
												    type="checkbox"
												    value="{{ class.id }}"
												    ng-model="segData.classIds[class.id]"
												    ng-click="toggleSegmentClassLabel(class.id)"
												> {{ class.label }} ({{ class.count }} segments)
											</label>
										</div>
									</div>
								</div>
								<div ng-repeat="(key, vals) in segData.metadata">
									<!-- <div class="divider"></div> -->
									<div ng-click="toggleDivVisibility(key)" class='metadata-header' style="cursor:pointer">
										{{ key }} <div ng-class="isDivVisible(key) ? 'arrow-up' : 'arrow-down'"
											style='float:right'></div>
									</div>
									<div ng-show="isDivVisible(key)" class="panel-body">
										<table>
											<tr ng-repeat="(subKey, subVal) in vals">
												<td>{{ subKey }}</td><td>{{ subVal }}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SELECTION FORM (move at the end so that it does not display long time, it's annoying otherwise) -->
	<div id="select-form" ng-show="selection.showForm" class="popup alert">
		<!-- Select segments where: -->
		<a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="return false;"
			ng-click="closeSelectionForm()" style="font-size: xx-large;">&times;</a>
		<div class="center">
			<table>
				<tr>
					<th>Attribute</th>
					<th><i>Select</i> expression
					    <table class='note'>
					    		<tr><td>a b c</td><td>select segments whose attribute value is a, b or c</td></tr>
								<tr><td>[a, b]</td><td>select segments whose attribute value is between a and b (including endpoints)</td></tr>
								<tr><td>(a, b)</td><td>select segments whose attribute value is between a and b (excluding endpoints)</td></tr>
							<tr><td>!=a</td><td>select segments whose attribute value is not a</td></tr>
							<tr><td> =a &gt;a &gt;=a &lt;a &lt;=a</td><td>(same as above with different operators)</td></tr>
						</table>
					</th>
				</tr>
				<tr ng-repeat="mdata in metadata">
				<!--NOTE: mdata is an Array of segment attributes, each attribute is an Array of the form [name, type]
				    (both strings) -->
					<td><span ng-class="selection.selExpr[mdata[0]] ? 'select-highlighted' : ''">{{ mdata[0] }}</span></td>
					<td style='width:100%'>
						<input style='width:100%' type=text ng-model="selection.selExpr[mdata[0]]" placeholder="({{ mdata[1] }})"/>
					</td>
				</tr>
			</table>
		</div>
		<div style='text-align:center'>
			<button class='btn btn-default' ng-click="selectSegments(selection.selExpr)">Select</button>
		</div>
	</div>
	
	<div id="config-form" ng-show="config.showForm" class="popup alert">
		<!-- Config (.yaml file) -->
		<a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="return false;"
			ng-click="closeConfigForm()" style="font-size: xx-large;">&times;</a>
		<div>
		Configuration editor (YAML syntax):
		</div>
		<div class="center" id='configEditor'>
		</div>
		<div style='text-align:center'>
			<button class='btn btn-default' ng-click="updateConfig()">Update</button>
		</div>
	</div>
	{% endraw %}
{% endblock %}
{% block after_body %}
	{{ super() }}
	<!-- load angular and init it (IN THIS ORDER!) -->
	<script src="static/js/mainapp/ng-app.js" defer></script>
	
	<!-- <script src="https://pagecdn.io/lib/ace/1.4.8/ace.min.js" crossorigin="anonymous"
			integrity="sha256-2vrgUWyhDF1A6gCwYj0YcNWMoEdeJNuj0G3MHPLP9RE=" ></script> -->
	<script src="https://pagecdn.io/lib/ace/1.4.8/ace.js" crossorigin="anonymous"
		    integrity="sha256-+svOVB1WmhKhTy7N21gWvtyXn91qF0r52P2hIArRRug=" ></script>

	<script type="text/javascript">
		var configEditor = ace.edit("configEditor");
		ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.8');
		// instead of doing so:
		// configEditor.setTheme("ace/theme/idle_fingers");
		// configEditor.session.setMode("ace/mode/yaml");
		// we set everything in the options dict
		// (for infor see: https://codepen.io/ryancat/pen/mMyvpx)
		configEditor.setOptions({
			wrap: true,
			fontSize: 12,
			mode: "ace/mode/yaml",
			theme: "ace/theme/idle_fingers",
			showLineNumbers: true,
	    });

		// adding keystrokes to segments selection:
		document.addEventListener("keyup", e => {
			if(e.ctrlKey || e.metaKey){ return; }
			var eTag  = (e.target.tagName || "").toLowerCase();
			var eType = (e.target.getAttribute('type') || "").toLowerCase();
			if((eTag == 'textarea') || (eTag == 'input' && eType == 'text')){ return; }
			var elm = null;
			if (e.keyCode + "" == '37') {  // left arrow
				elm = document.getElementById("prev-segment-btn");
			}else if (e.keyCode + "" == '39') {  // right arrow
				elm = document.getElementById("next-segment-btn");
			}
			if (elm){
				e.preventDefault();
				elm.click();
			}
		});


	</script>
{% endblock %}