{% extends "base.html" %}
{% set use_axios = true %}
{% set use_plotly = true %}
{% set use_leaflet = false %}
{% set use_bootstrap_css = true %}

{% block head_css %}
{{ super() }}
body{
	background-color: whitesmoke !important;
	padding: .75rem !important;
}
.select-highlighted{
	border-radius: 5px;
	background-color: #009688;
	color: white;
	font-weight: bold;
	padding: 1px 5px;
}
.popup{
	z-index: 100;
	background-color: #f5f5f5;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.33);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding: 1rem;
	display: flex;
	position: fixed;
	max-height: 90vh;
	max-width: 90vw;
}
.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #444;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}
	@keyframes rotation {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(360deg);
	}
}
{% endblock %}

{% block body_content %}
{{ super() }}
<div class="main d-flex flex-column" style="height:100%">
	<!-- TOOLBAR -->
	<div class="d-flex flex-row align-items-baseline mb-3">
		<div>Segment
			<span id="current_segment_index">0</span>
			of
			<span id="segments_count">0</span>
		</div>
		<button id="prev-segment-btn" class='btn btn-outline-secondary text-center ms-1'
				onclick="setPreviousSegment()"
				title="previous segment (you can also use the left arrow key)">
			&larr;
		</button>
		<button id="next-segment-btn" class='btn btn-outline-secondary text-center ms-1'
				onclick="setNextSegment()"
				title="next segment (you can also use the right arrow key)">
			&rarr;
		</button>
		<button class='btn btn-outline-secondary ms-1'
				onclick="toggleVisibility('segments-selection-dialog')">
			Select
		</button>
		<div class="ms-2">Plots</div>
		<input type="checkbox" class="btn-check"
			   id="preprocess-plots-btn"
			   {% if preprocess_func_on -%}checked{%- endif %}
			   onclick="recomputeAllPlots()">
		<label class="btn btn-sm btn-outline-secondary ms-1" for="preprocess-plots-btn">Pre-process</label>
		<button class='btn btn-outline-secondary ms-1'
				onclick="toggleVisibility('config-dialog')">
			Config
		</button>
		<div class="ms-2">DB Url</div>
		<div class="ms-1" style="flex: 1 1 0;white-space:nowrap;overflow:auto">
			{{ title }}
		</div>
	</div>
	<!-- PLOTS BUTTONS -->
	<div class="d-flex flex-row">
		<div class="d-flex flex-row align-items-baseline" style="flex: 1 1 50%">  <!-- main plot controls -->
			<span class='d-none me-2' id="seed_id"></span>
			<input type="checkbox" class="btn-check"
				   id="show-all-components-btn"
				   onclick='recomputePlot("", "main-plot", {})'>
			<label class="btn btn-sm btn-outline-secondary me-2" for="show-all-components-btn">Show all orientations</label>
		</div>
		<div class="d-flex flex-row align-items-baseline" style="flex: 1 1 50%">  <!-- right plot controls -->
			{% for plot in rightPlots %}
			<input type="radio" class="btn-check"
				   name="right-plot-option" id="right-plot-{{ plot.name }}"
				   data-plot='["{{ plot.name }}", "right-plot", {{ plot.layout | tojson }}]'
				   onclick="recomputePlot(...JSON.parse(this.getAttribute('data-plot')))"
				   {%- if loop.index0 == 0 %} checked {% endif %}
				   title="{{plot.doc}}" autocomplete="off">
			<label class="btn btn-sm btn-outline-secondary me-2" for="right-plot-{{ plot.name }}">{{ plot.name }}</label>
			{% endfor %}
		</div>
	</div>
	<!-- PLOTS CONTAINER -->
	<div class="d-flex flex-row" style="flex: 1 1 auto">
		<!--LEFT COLUMN PLOTS -->
		<div class='d-flex flex-column' style="flex: 0 0 50%" >
			<div style="flex: 1 1 50%; position:relative">
				<div id='main-plot' style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
			</div>
			<div class="{%- if bottomPlots|length < 1 -%}d-none{%- else -%}d-flex{%- endif %} flex-column" style="flex:1 1 50%">
				<div style="flex: 1 1 auto; position:relative">
					<div id='bottom-plot' style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
				</div>
				<div class="d-flex flex-row">
					{% for plot in bottomPlots %}
					<input type="radio" class="btn-check"
						   name="bottom-plot-option" id="bottom-plot-{{ plot.name }}"
						   data-plot='["{{ plot.name }}", "bottom-plot", {{ plot.layout | tojson }}]'
						   onclick="recomputePlot(...JSON.parse(this.getAttribute('data-plot')))"
						   {%- if loop.index0 == 0 %} checked {% endif %}
						   title="{{plot.doc}}" autocomplete="off">
					<label class="btn btn-sm btn-outline-secondary me-2" for="bottom-plot-{{ plot.name }}">{{ plot.name }}</label>
					{% endfor %}
				</div>
		 	</div>
		</div>
		<!--RIGHT COLUMN PLOTS -->
		<div class='d-flex flex-column' style="flex: 0 0 50%">
			 <!-- RIGHT TOP PLOT PANEL (WITH BUTTONS) -->
			<div class="{%- if rightPlots|length < 1 -%}d-none{%- else -%}d-flex{%- endif %} flex-row" style="flex:1 1 50%">
				<div style="flex: 1 1 auto; position:relative">
					<div id="right-plot" style="position:absolute;top:0;right:1rem;bottom:1rem;left:0;overflow:hidden"></div>
				</div>
			</div>
			<!-- RIGHT BOTTOM PANEL (SEGMENT METADATA) -->
			<div class="d-flex flex-column" style="flex: 1 1 50%; margin-left:1rem">
				<div>
					&#9432; Segment metadata:
				</div>
				<div style="flex:1 1 auto; position:relative">
					<div style="position:absolute;top:0;right:0;bottom:0;left:0;overflow:auto">
						<table style="width:100%;">
							{% for class in classes -%}
							<tr title="{{ class.label }}{%- if class.description -%}: {{ class.description }}{%- endif -%}">
								<td>
									<label style="white-space: nowrap;">
										<input type="checkbox" data-segment-class-id="{{ class.id }}"
											   onclick="setClassLabel(parseInt(this.getAttribute('data-segment-class-id')), this.checked)">
										{{ class.label }}
									</label>
								</td>
								<td style="text-overflow: ellipsis;white-space:nowrap;max-width:0;overflow:hidden">
									({{ class.segments }} segments labelled)
								</td>
							</tr>
							{%- endfor -%}
							{% for mdata in metadata -%}
							{% set name = mdata[0] %}
							<tr>
								<td>{{ name }}</td>
								<td data-segment-attr="{{ name }}" style='width:100%'>N/A</td>
							</tr>
							{%- endfor -%}
						</table>
					</div>
				</div>
			</div>
		 </div>
	</div>
</div>



<!-- SELECTION FORM (move at the end so that it does not display long time, it's annoying otherwise) -->
<div id="segments-selection-dialog" class="d-none popup flex-column" style="top: 5vh; left:5vw; max-width:45vw">
	<!-- Select segments where: -->
	<div>
		<button type="button" class="btn-close" aria-label="Close"
				onclick="toggleVisibility('segments-selection-dialog')"></button>
	</div>
	<div style="flex: 1 1 auto; overflow:auto">
		<table id="table-select">
			<tr>
				<th>Attribute</th>
				<th><i>Select</i> expression
					<table class='note'>
							<tr><td>a b c</td><td>select segments whose attribute value is a, b or c</td></tr>
							<tr><td>[a, b]</td><td>select segments whose attribute value is between a and b (including endpoints)</td></tr>
							<tr><td>(a, b)</td><td>select segments whose attribute value is between a and b (excluding endpoints)</td></tr>
						<tr><td>!=a</td><td>select segments whose attribute value is not a</td></tr>
						<tr><td> =a &gt;a &gt;=a &lt;a &lt;=a</td><td>(same as above with different operators)</td></tr>
					</table>
				</th>
			</tr>
			{% for mdata in metadata -%}
			{% set name = mdata[0] %}
			{% set type = mdata[1] %}
			<tr>
				<td>
					<span id="sss-{{ name }}">{{ name }}</span>
				</td>
				<td style='width:100%'>
					<input style='width:100%' type=text
						   data-segment-select-attr="{{ name }}"
						   oninput="this.value ? document.getElementById('sss-{{ name }}').classList.add('select-highlighted') : document.getElementById('sss-{{ name }}').classList.remove('select-highlighted')"
						   placeholder="{{ type }}"
					/>
				</td>
			</tr>
			{%- endfor -%}
		</table>
	</div>
	<div style='text-align:center'>
		<button class='btn btn-outline-secondary'
				onclick="updateSegmentSelection().then(response => { toggleVisibility('segments-selection-dialog') })">
			Select
		</button>
	</div>
</div>

<div id="config-dialog" class="popup d-none flex-column"
	 style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<!-- Config (.yaml file) -->
	<div>
		<button type="button" class="btn-close" aria-label="Close"
				onclick="toggleVisibility('config-dialog')"></button>
	</div>
	<div>Configuration editor (YAML syntax):</div>
	<div id='config-editor' style="flex: 1 1 auto; overflow:auto; min-height:75vh; min-width:50vw;"></div>
	<div style='text-align:center'>
		<button class='btn btn-default'
				onclick="updateConfig().then(response => { toggleVisibility('config-dialog') })">
			Update
		</button>
	</div>
</div>

<div id="message-dialog" class="popup d-none flex-column align-items-center"
	 style="z-index:1000; top:50%; left: 50%; transform: translate(-50%, -50%);">
	<span class="loader"></span>
	<div class="d-flex flex-row align-items-end">
		<div class="message" style="margin-top:.5rem"></div>
		<button type="button" class="btn-close ms-2" aria-label="Close"
				onclick="toggleVisibility('message-dialog')">
		</button>
	</div>
</div>
{% endblock %}

{% block after_body %}
	{{ super() }}
	<script src="static/js/mainapp.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.17.0/ace.min.js"></script>
	<script type="text/javascript">
		var configEditor = ace.edit("config-editor");
		ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.8');
		// instead of doing so:
		// configEditor.setTheme("ace/theme/idle_fingers");
		// configEditor.session.setMode("ace/mode/yaml");
		// we set everything in the options dict
		// (for infor see: https://codepen.io/ryancat/pen/mMyvpx)
		configEditor.setOptions({
			wrap: true,
			fontSize: getPageFontInfo().size,  // see custom js
			mode: "ace/mode/yaml",
			theme: "ace/theme/idle_fingers",
			showLineNumbers: true,
	    });

		// adding keystrokes to segments selection:
		document.addEventListener("keyup", e => {
			if(e.ctrlKey || e.metaKey){ return; }
			var eTag  = (e.target.tagName || "").toLowerCase();
			var eType = (e.target.getAttribute('type') || "").toLowerCase();
			if((eTag == 'textarea') || (eTag == 'input' && eType == 'text')){ return; }
			var elm = null;
			if (e.keyCode + "" == '37') {  // left arrow
				elm = document.getElementById("prev-segment-btn");
			}else if (e.keyCode + "" == '39') {  // right arrow
				elm = document.getElementById("next-segment-btn");
			}
			if (elm){
				e.preventDefault();
				elm.click();
			}
		});
	</script>
	<script>
		var SEGMENTS_COUNT = 0;  // real value will be set at the end of this script tag
		var SELECTED_SEGMENT_INDEX = 0;

		function setNextSegment(){
			setSegment(SELECTED_SEGMENT_INDEX + 1);
		};

		function setPreviousSegment(){
			setSegment(SELECTED_SEGMENT_INDEX - 1);
		};

		function tracesArePreprocessed(){
			return document.getElementById('preprocess-plots-btn').checked;
		};

		function mainPlotShowsAllComponents(){
			return document.getElementById('show-all-components-btn').checked;
		};

		function setSegment(index){
			if (SEGMENTS_COUNT < 1){ return; }
			if (index < 0){
				index = SEGMENTS_COUNT + index;
			}else if (index >= SEGMENTS_COUNT){
				index = index % SEGMENTS_COUNT;
			}
			var attrElements = {};
			document.querySelectorAll(`[data-segment-attr]`).forEach(elm => {
				attrElements[elm.getAttribute('data-segment-attr')] = elm;
			});
			var classElements = {};
			document.querySelectorAll(`[data-segment-class-id]`).forEach(elm => {
				elm.checked = false;
				classElements[parseInt(elm.getAttribute('data-segment-class-id'))] = elm;
			});
			get_segment_data(index, SEGMENTS_COUNT,
							 getPlotDataToRecompute(), tracesArePreprocessed(), mainPlotShowsAllComponents(),
	 						 attrElements, classElements, null).then(response => {
				SELECTED_SEGMENT_INDEX = index;
				document.getElementById('current_segment_index').innerHTML = (SELECTED_SEGMENT_INDEX + 1).toLocaleString('en-US');
				var seed_id_elm = document.getElementById('seed_id');
				seed_id_elm.classList.add('d-none')
				for (var [attname, attval] of response.data.attributes){
					if (attname == 'seed_id'){
						seed_id_elm.innerHTML = attval;
						seed_id_elm.classList.remove('d-none')
						break;
					}
				}
			});
		};

		function recomputeAllPlots(config){
			get_segment_data(SELECTED_SEGMENT_INDEX, SEGMENTS_COUNT,
							 getPlotDataToRecompute(), tracesArePreprocessed(), mainPlotShowsAllComponents(),
	 						 null, null, config);
		}

		function getPlotDataToRecompute(){
			var plots = [["", 'main-plot', {}]];
			document.querySelectorAll('[data-plot][checked]').forEach(elm => {
				plots.push(JSON.parse(elm.getAttribute('data-plot')));
			});
			return plots;
		}

		function recomputePlot(funcName, divId, layout){
			get_segment_data(SELECTED_SEGMENT_INDEX, SEGMENTS_COUNT,
							 [[funcName, divId, layout]], tracesArePreprocessed(), mainPlotShowsAllComponents(),
	 						 null, null, null);
		}

		function setClassLabel(classId, value){
			var params = {
				seg_index: SELECTED_SEGMENT_INDEX,
				seg_count: SEGMENTS_COUNT,
				class_id: classId,
				value: value
			};
			axios.post("/set_class_id", params, {headers: {'Content-Type': 'application/json'}});
		}

		function getSegmentSelectionInputElements(){
			var ret = {};
			var attr = 'data-segment-select-attr';
			document.querySelectorAll(`input[${attr}]`).forEach(elm => {
				ret[elm.getAttribute(attr)] = elm;
			});
			return ret;
		}

		function updateSegmentSelection(){
			return setSegmentsSelection(getSegmentSelectionInputElements()).then(response => {
				var numSegments = response.data.num_segments;  // surely > 0
				updateSegmentsCount(numSegments);
				return response;
			});
		}

		function toggleVisibility(divId){
			var div = document.getElementById(divId);
			var isVisible = isDivVisible(div);
			if (!isVisible && divId == 'config-dialog'){
				// query config and show form only upon successful response:
				setConfig(configEditor).then(response => { setDivVisible(div, true) });
			}else if (!isVisible && divId == 'segments-selection-dialog'){
				// query segment selection and show form only upon successful response:
				getSegmentsSelection(getSegmentSelectionInputElements()).then(response => { setDivVisible(div, true) });
			}else{
				setDivVisible(div, !isVisible);
			}
		}

		function updateConfig(){
			return axios.post("/validate_config_str", {data: configEditor.getValue()}, {headers: {'Content-Type': 'application/json'}}).then(function(response) {
				recomputeAllPlots(response.data.data);
				return response;
			});
		}

		function updateSegmentsCount(num_segments){
			SEGMENTS_COUNT = num_segments;
			document.getElementById('segments_count').innerHTML = SEGMENTS_COUNT.toLocaleString('en-US');
			setSegment(0);
		}

		updateSegmentsCount({{ num_segments }});

	</script>
{% endblock %}