html, body, div.main{
	height:100%;
}
html, body{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Lucida Sans Unicode", Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	background-color: #f5f5f5;
	padding: 5px;
}
*{
	box-sizing: border-box; /* this is the default if using bootstrap. Otherwise, better having it */
}
/* flex layout stuff. Rule: to create a flex containers, add the classes 'flex h-container' or 'flex v-container'
in the container items therein, add the classes 'center', 'left' 'right' 'top' or 'bottom'
NOTE: as of march 2017, plotly does not work with flex (too bad!)
 */
div.flex.h-container, div.flex.v-container{
	display: flex;
}
div.flex.h-container{
	flex-direction: row;
}
div.flex.v-container{
	flex-direction: column;
}
div.flex.h-container > .left, div.flex.h-container > .right,
div.flex.v-container > .top, div.flex.v-container > .bottom{
	flex: 0 1 auto;
}
div.flex.h-container > .center, div.flex.v-container .center{
	flex: 1 1 auto;
}

/* override bootstrap */
label {
    font-weight: normal !important;
}

.disabled{
	color: #ccc;
	cursor: not-allowed;
}