
/* Main divs layout (left panel -with controls buttons etcetera - and center panel - with plots + metadata)*/

.flexible-half{
	flex: 1 1 50%;
}

#select-form{ /*add select form dimensions here cause, when visible, they should fit more or less the width of the left-side plots,
	leaving room for seeing the current segment metadata panel while choosing what to select*/
	position:fixed;
	top:10vh;
	width: 45.5vw;
	left:12.5vw;
}

#config-form {
    position: fixed;
    top: 10vh;
    width: 45.5vw;
    left: 32.5vw;
}


div.plot-wrapper{ 
	position:relative;
}

/*child of plot-wrapper defined above*/
div.plot{ 
	position: absolute;
	margin:0;
	padding:0;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}

.navbar{
	padding: 5px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.main > div.center{
	padding: 10px;
	padding-top: 0px;
}

.flex-direction-row.toolbar{
	align-items: baseline;
    white-space: nowrap;
    overflow: auto;
}
.flex-direction-row.toolbar > *:not(:first-child){
	margin-left: 10px;
}
.flex-direction-col.toolbar{
	align-items:stretch;
    white-space: nowrap;
    overflow: auto;
}
.flex-direction-col.toolbar > *:not(:first-child){
	margin-top: 10px;
}

.v-divider{
	display: inline-block;
	height: 1em;
	border-left: 1px solid #ddd;
}

.note {
    font-weight: normal;
    color: #777; /* same as bootstrap .text-muted*/
    font-size: 85%; /* same as bootstrap .small*/
}

/* metadata panel (right bottom) */

div.metadata{
	/* override bootstrap */
	margin-bottom: 0px !important;
}

div.metadata table td{
	vertical-align: top;
}

div.metadata table td:first-child {
	text-align: right;
    padding-right: 12px;
}

div.metadata table td:last-child {
    word-break: break-all;
    word-wrap: break-word;
}

div.metadata > div.panel-body{
	overflow: auto;
}


/* arrows (using css tricks): */

.arrow-up, .arrow-down{
	margin-top:5px;
	float: right;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.arrow-up {
	border-bottom: 6px solid black;
}

.arrow-down {
	border-top: 6px solid black;
}


/* popups (info, docs etcetera)*/

.popup > div.center{
	overflow:auto;
	height: 70vh;
	margin-bottom: 16px;
	margin-top: 16px;
}

.popup > div.center > table{
	width: 100%;
}

.popup > div.center > table th{
	background-color: #f5f5f5;
	vertical-align: top;
}

.popup > div.center > table td, .popup > div.center > table th{
	padding-top: 5px;
	padding-left: 10px;
}

.popup > div.center > table td:first-child{
	text-align: right;
}

.popup{
	z-index: 100000;
	background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* help stuff (including tooltips) */

.select-highlighted{
	font-weight: bold;
	color: ForestGreen;
}

/* loader (or waitbar: see https://www.pexels.com/blog/css-only-loaders/ */
.loader {
  height: 6px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}
@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
