
html, body{
	height:100%;
}
div.container{
	position:relative;
	height: 100%;
	box-sizing:border-box;
	height:100%;
}

div.test{
	box-sizing:border-box;
	border: 1px solid #000;
}

body{
	padding:1em;
}

div.one-third-height{
	 height:33%;
}

div.fullheight{
	 height:100%;
}

div.pos-relative{
	position:relative;
}

ul.segment-info{
	margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    overflow: auto;
}

ul.segment-info li:not(:last-of-type){
	margin-bottom: 5px;
}

div.navigator{
	overflow: hidden; /* for clearing the floats inside it (see below) */
}

div.navigator button{
	float: right;
}

div.navigator button:not(:last-of-type) {
	/* remember THAT buttons with float: right are placed in reversed order, so it is
	margin-left instead of margin-right */
    margin-left: 10px;
}

div.left-panel{
	font-size: smaller;
}

div.left-panel div.panel-body{
	max-height: 44vh;
    overflow: auto;
}
