
html, body, div.main{
	height:100%;
}

body{
	padding: 8px;
	font-family: "Lucida Sans Unicode", Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

div.container{
	position:relative;
	height: 100%;
	box-sizing:border-box;
	height:100%;
}

div.h-container, div.v-container{
	display: flex;
}

div.h-container{
	flex-direction: row;
}

div.v-container{
	flex-direction: column;
}

div.h-container > div.left, div.h-container div.right,
div.v-container > div.top, div.v-container div.bottom{
	flex: 0 1 auto;
}

div.h-container > div.center, div.v-container div.center{
	flex: 1 1 auto;
}

div.mseed_plots_wrapper{
	
}

div.custom_plots_wrapper{
	
}

div.plot{
	/*border: 1px solid #000;*/
}

.panel-left{
	width: 20vw;
}

.panel-left .panel-body td:first-child {
    padding-right: 12px;
}

div.metadata{
	overflow: auto;
}

.arrow-up, .arrow-down{
	margin-top:5px;
	float: right;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.arrow-up {
	border-bottom: 6px solid black;
}

.arrow-down {
	border-top: 6px solid black;
}

.segment-panel-heading{  /* copied from bootstrap */
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

/* adjust margin bottoms */
.panel, .segment-panel-heading, .metadata{
	margin-bottom:12px;
}

/* override bootstrap */
label {
    /* display: inline-block;
    max-width: 100%;
     */
    margin-bottom: 2px;
    font-weight: normal !important;
}

/*
.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}
*/