
html, body, div.main{
	height:100%;
}
div.container{
	position:relative;
	height: 100%;
	box-sizing:border-box;
	height:100%;
}

div.h-container, div.v-container{
	display: flex;
}

div.h-container{
	flex-direction: row;
}

div.v-container{
	flex-direction: column;
}

div.h-container > div.left, div.h-container div.right,
div.v-container > div.top, div.v-container div.bottom{
	flex: 0 1 auto;
}

div.h-container > div.center, div.v-container div.center{
	flex: 1 1 auto;
}

div.mseed_plots_wrapper{
	
}

div.custom_plots_wrapper{
	
}

div.plot{
	/*border: 1px solid #000;*/
}

/*
.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}
*/