{% extends "base.html" %}
{% set use_ng = false %}
{% set use_esrileaflet = false %}
{% set use_plotly = false %}
{% set use_bootstrap_css = true %}

{% block head_scripts %}
    {{ super() }}
	<script type='text/javascript'>
		GLOBALS={
			data:{{data | tojson}},
			log_types:{{log_types | tojson}}
		};
	</script>
{% endblock %}

{% block head_stylesheets %}
    {{ super() }}
    <style>
    	{% include 'base.css' %}
		{% include 'dreport.css' %}
	</style>
{% endblock %}

{% block body_tag %}
<body>
{% endblock %}

{% block body_content %}
	
	<div class="main flex-direction-row">
		
			<ul class="nav nav-tabs">
			{% for download in data %}
				<li class="nav-item">
    				<a id='dtab-{{download.id}}' class="nav-link" href="#" onclick='return setDownload({{ download.id) }})'>
    				Download id {{ download.id }}</a>
  				</li>
			{% endfor %}
			</ul>
			
			<div class='flexible'>
				{% for download in data %}
				<div id='dcontent-{{download.id}}' class='dcontent flex-direction-col flexible'>
					<div>
						Executed: {{download.time}} / Downloaded segments: {{download.segments[1]}} ({{download.segments[0]}} with data)
					</div>
					<div class='flexible flex-direction-row'>
						<div class='flexible flex-direction-col'>
							<div>Config:</div>
							<div class='flexible'>
								<pre class='config flexible'>{{download.config}}</pre>
							</div>
						</div>
						<div class='flexible flex-direction-col'>
							<div>Log messages:</div>
							<div class='flexible'>
								{% for log in data.logs %}
									<pre class='{{log[0]}}'>{{log[1]}}</pre>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
				
			</div>
		
	</div>
{% endblock %}

{% block after_body %}
<script type='text/javascript'>
	function setDownload(downloadID){
	    document.querySelectorAll("a.nav-link").forEach(elm => { elm.classList.remove("active") });
	    document.getElementById(`dtab-${downloadID}`).classlist.add('active');
	    document.querySelectorAll("div.dcontent").forEach(elm => { elm.style.display='none' });
	    document.getElementById(`dcontent-${downloadID}`).style.display = 'initial';
	    return false;
	}
	setDownloadID({{data[0].id}});
</script>
{% endblock %}
