#map{
	width:100%; height:100%;
}
div.left-panel{
	padding-left:15px;
	max-width:24em;
}
#options{
	max-width: 30vw;
	max-height: 50vh;
	overflow:scroll;
}
div.section:not(:first-child){
	margin-top:15px;
}
div.left-panel input[type="radio"],
div.left-panel input[type="radio"],
div.left-panel input[type="checkbox"],
div.left-panel input[type="checkbox"] {
	margin-right: 5px;
}
div.left-panel table.formula{
	margin:5px 0px;
}
div.left-panel table.formula td{
	padding:5px 0;
	padding-right: 5px;
}
div.info-legend{
	margin: 5px 0px;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	background-color: white;
	border-radius: 5px;
}
div.info-legend .station_symbol{
	display:inline-block;
	height:1em;
	width:1em;
	border-radius:.5em;
	border: 1px solid #ddd;
}
div.info-legend .cmap-chunk{
	display: inline-block;
	width: .5em;
	height: 1em;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	vertical-align: middle;
}
div.info-legend .cmap-chunk:first-child{
	border-left: 1px solid #666;
}
div.info-legend .cmap-chunk:last-child{
	border-right: 1px solid #666;
}
.leaflet-popup-content{
	width: auto !important;
	height: auto !important;
    max-height: 60vh;
    max-width: 60vw;
   	overflow: auto;
}
table.station-info th,
table.station-info td{
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align:top;
	border-top: 1px solid #ddd;
}
table.station-info th:not(:first-child),
table.station-info td:not(:first-child){
	padding-left: 10px;
}
table.station-info th{
	background-color: rgba(255,255,200,.3);
}