#options{
	max-width: 30vw;
	max-height: 80vh;
	overflow:scroll;
}
.underline{
	border-bottom: 1px solid #ddd;
}
.leaflet-popup .title{
	font-size: larger;
	padding-bottom:5px;
	font-weight:bold;
}
.leaflet-popup .subtitle{
	padding-bottom:10px;
	font-weight:bold;
}
div.info-legend{
	margin: 5px 0px;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	background-color: white;
	border-radius: 5px;
}
#legend .colorbar{
	background: linear-gradient(to right, rgba(255, 190, 190, 1) , red);
	height: 1em;
	width: 4em;
	display: inline-block;
	border: 1px solid #666;
	vertical-align: middle;
}
div.info-legend .station_symbol{
	display:inline-block;
	height:1em;
	width:1em;
	border-radius:.5em;
	border: 1px solid #333;
}
td.nowrap, th.nowrap{
	white-space: nowrap;
}
td.right, th.right{
	text-align: right;
}
td{
	vertical-align:top;
	padding-top:5px;
}
td:not(:first-child), th:not(:first-child){
	padding-left:5px;
}
th{
	text-align:left;
}