#options{
	max-width: 30vw;
	max-height: 80vh;
	overflow:scroll;
}
.underline{
	border-bottom: 1px solid #ddd;
}
.leaflet-popup .title{
	font-size: larger;
	padding-bottom:5px;
	font-weight:bold;
}
.leaflet-popup .subtitle{
	padding-bottom:10px;
	font-weight:bold;
}
div.info-legend{
	margin: 5px 0px;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	background-color: white;
	border-radius: 5px;
}
#legend .colorbar{
	background: linear-gradient(to right, rgba(255, 190, 190, 1) , red);
	height: 1em;
	width: 4em;
	display: inline-block;
	border: 1px solid #666;
	vertical-align: middle;
}
div.info-legend .station_symbol{
	display:inline-block;
	height:1em;
	width:1em;
	border-radius:.5em;
	border: 1px solid #333;
}
td.nowrap, th.nowrap{
	white-space: nowrap;
}
td.right, th.right{
	text-align: right;
}
td{
	vertical-align:top;
	padding-top:5px;
}
td:not(:first-child), th:not(:first-child){
	padding-left:5px;
}
th{
	text-align:left;
}

.tri-div{
	background-color: transparent;
	border:0px;
	border-top:0;
}

.tri-div-small{
	width: 8px;
	height: 6.93px; /*width * sqrt(3)/2*/
	border-bottom: 6.93px solid #ccc; /*same as above */
	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
}

.tri-div-normal{
	width: 10px;
	height: 8.665px; /*width * sqrt(3)/2*/
	border-bottom: 8.665px solid #ccc; /*same as above */
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	
}

.tri-div-large{
	width: 12px;
	height: 10.398px; /*width * sqrt(3)/2*/
	border-bottom: 10.398px solid #ccc; /*same as above */
	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
}

.tri-div-xlarge{
	width: 14px;
	height: 12.131px; /*width * sqrt(3)/2*/
	border-bottom: 12.131px solid #ccc; /*same as above */
	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
}

.tri-div-xxlarge{
	width: 16px;
	height: 13.864px; /*width * sqrt(3)/2*/
	border-bottom: 13.864px solid #ccc; /*same as above */
	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
}

.tri-div-small > div{
	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	border-bottom: 8px solid #ccc;
}

.tri-div-normal{
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-bottom: 10px solid #ccc;
}

.tri-div-large{
	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-bottom: 12px solid #ccc;
}

.tri-div-xlarge{
	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-bottom: 14px solid #ccc;
}

.tri-div-xxlarge{
	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 16px solid #ccc;
}


.svg-tirangle{ /*https://stackoverflow.com/questions/8639383/how-do-i-center-an-svg-in-a-div*/
	display:block;
	text-align:center;
}